<div class= "container">
    <footer class= "footer">
        <small>
            JAMES JIMENEZ &copy; 2018
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "About", about_path %>
                </li>
            </ul>
        </nav>
    </footer>
</div>